import pandas as pd
df =pd.read_csv("C:/datasets/Sample - Superstore.csv",encoding="latin1")
df
print(df.isnull().sum())
df = df.drop_duplicates()
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df['Order Year'] = df['Order Date'].dt.year
df['Order Month'] = df['Order Date'].dt.month
df['Order Day'] = df['Order Date'].dt.day
df['Order Weekday'] = df['Order Date'].dt.day_name()
df['Shipping Days'] = (df['Ship Date'] - df['Order Date']).dt.days
import numpy as np
q_high = df['Sales'].quantile(0.99)
df['Sales'] = np.where(df['Sales'] > q_high, q_high, df['Sales'])
print(df.dtypes)
cat_cols = ['Ship Mode','Segment','Country','City','State','Region','Category','Sub-Category']
for col in cat_cols:
    df[col] = df[col].astype('category')
df_encoded = pd.get_dummies(df, drop_first=True)

import matplotlib.pyplot as plt
import seaborn as sns
df.groupby(df['Order Date'].dt.to_period("M"))['Sales'].sum().plot()
plt.title("Monthly Sales Over Time")
plt.ylabel("Sales")
plt.show()

sns.barplot(x="Category", y="Sales", data=df, estimator=sum)
plt.title("Sales by Category")
plt.show()


sns.scatterplot(x="Discount", y="Profit", data=df)
plt.title("Discount vs Profit")
plt.show()

sns.barplot(x="Region", y="Sales", data=df, estimator=sum)
plt.title("Sales by Region")
plt.show()

df.groupby("Customer Name")['Sales'].sum().nlargest(10).plot(kind="barh")
plt.title("Top 10 Customers by Sales")
plt.show()


df.groupby("Sub-Category")["Sales"].sum().sort_values().plot(kind="barh")
plt.title("Sales by Sub-Category")
plt.show()
